*{
  margin: 1px;
  padding: 0;
  font-family: Century Gothic;
}
header{
  background-image: url(../bg.jpg);
  background-size: cover;
  height:   70vh;
  width: 100%;
  background-position: left;

}
ul{
  float: right;
  list-style-type: none;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
  transition: 0.6s ease;
}
ul li a:hover{
  background-color: #fff;
  color: #000033;
}
.main{
  max-width: 100%;
  margin: auto;
}
.w3-row-padding{
  margin: auto;
  border: 1px solid #fff;
  padding: 5px 20px;
  color: red;
}